/* место для вашего кода */
body {
  width: 1100px;

}

header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px 50px;
  font-family: Raleway;
  font-weight: normal;
}

.header__menu {

}

.header__links-list {
  display: flex;
  gap: 32px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullet{
  list-style: none;
}

.header__link {
  font-size: 18px;
  text-decoration-thickness: 0.8px;
  text-underline-offset: 4px;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  height: 100%;

}

.address {
  display:flex;
  flex-direction: column;
  justify-self: end;
  align-items: flex-start;
  max-width: 1100px;
  margin: 0;                   
  padding: 0;
  font-weight: normal;
  font-size: 18px;
  font-style: normal;
  line-height: 135%;
  text-underline-offset: 4px;
}

.header__address {
  width: 240px;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgb(0 0 0 /0.6);
}

.cover {
  position: relative;
  width: 1100px;
  height: 757px;
  background-image: url(../images/cover.jpg);
  background-repeat: 0;
  background-position: center;
  background-size: cover;

}

h1 {
  position:relative;
  z-index: 2;
  color: #FFFFFF;
  font-weight: normal;
  font-weight: 700;
  font-size: 100px;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  letter-spacing: 30%;
  text-transform: uppercase;
}

.cover__title {
  padding-top: 165px;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  margin-left: 50px;
}

.aligned-text_center {
  margin:20px 380.5px 0 380.5px;
  text-align: center;
}

.aligned-text_right {
  margin:20px 50px 0 663px;
  text-align: right;
}

.cover__description {
  display: flex;
}

.cover__description-text {
  z-index: 3;
  margin-top: 118px;
  margin-left:50px;
  color: #FFFFFF;
  font-weight: normal;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 90%;
  text-transform: uppercase;
  word-spacing:18.5px;
}

.bet-button {
  z-index: 4;
  width: 256px;
  height: 51px;
  margin-top: 106px;
  margin-left: 106px;
  border-color: #FFFFFF;
  border-block-end:1;
  color: #FFFFFF;
  font-weight: 500;
  font-size:22px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  background: none;
}

.lots {
  width:1052px;
  min-height: 723px;
}

.about {
  width: 1052px;
  min-height: 595px;
}

.footer {
  min-height:180px;
}