/* место для вашего кода */
body {
  width: 1100px;

}

header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px 50px;
  font-family: Raleway;
  font-weight: normal;
}

.header__menu {

}

.header__links-list {
  display: flex;
  gap: 32px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullet{
  list-style: none;
}

.header__link {
  font-size: 18px;
  text-underline-offset: 4px;
  text-decoration-thickness: 0.8px;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  height: 100%;

}

.address {
  display:flex;
  flex-direction: column;
  justify-self: end;
  align-items: flex-start;
  max-width: 1100px;
  margin: 0;                   
  padding: 0;
  font-family: Raleway;
  font-weight: normal;
  font-size: 18px;
  font-style: normal;
  text-underline-offset: 4px;
  line-height: 135%;
}

.header__address {
  width: 240px;
}

.main {
  position: relative;
}

.cover {
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-repeat: 0;
  background-size: cover;
  background-position: center;
}

.lots {
  width:1052px;
  min-height: 723px;
}

.about {
  width: 1052px;
  min-height: 595px;
}

.footer {
  min-height:180px;
}