/* место для вашего кода */
body {
  width: 1100px;

}

header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px 50px;
  font-family: Raleway;
  font-weight: normal;
}

.header__links-list {
  display: flex;
  gap: 32px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullet {
  list-style: none;
}

.header__link {
  font-size: 18px;
  text-decoration-thickness: 0.8px;
  text-underline-offset: 4px;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  height: 100%;
}

.address {
  display:flex;
  flex-direction: column;
  justify-self: end;
  align-items: flex-start;
  max-width: 1100px;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 18px;
  font-style: normal;
  line-height: 135%;
  text-underline-offset: 4px;
}

.header__address {
  width: 240px;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgb(0 0 0 /0.6);
}

.cover {
  position: relative;
  width: 1100px;
  height: 757px;
  padding-inline: 50px;
  background-image: url(../images/cover.jpg);
  background-repeat: 0;
  background-position: center;
  background-size: cover;
}

.cover__title {
  position:relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 165px 0 106px;
  color: #FFFFFF;
  font-weight: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text {
  display: inline-block;
}

.aligned-text_center {
  padding-left: 30px;
  text-align: center;
}

.aligned-text_right {
  text-align: right;
  transform: translateX(30px);
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text {
  z-index: 3;
  color: #FFFFFF;
  font-weight: normal;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 90%;
  text-transform: uppercase;
  word-spacing:18.5px;
}

.bet-button {
  z-index: 4;
  width: 256px;
  height: 51px;
  border-color: #FFFFFF;
  border-block-end:1;
  color: #FFFFFF;
  font-weight: 500;
  font-size:22px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  background: none;
}

.lots {
  width:1052px;
  min-height: 723px;
  margin: 180px 24px 0;
}

.lots__heading {
  padding-left: 40px;
  font-weight: 700;
  font-size: 40px;  
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap:25px;
  margin: 27px 0 30px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
  list-style: none;
}

.card-link {
  height: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px 48px;
  text-decoration: none;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  position: relative;
  z-index: 2;
  color: #FFFFFF;
  font-weight: 700;
  font-size:22px;
  line-height: 120%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  z-index: 2;
  color: #FFFFFF;
  font-weight: 400;
  font-size:20px;
  line-height: 120%;
  letter-spacing: 0;
}

.lots__look-more-link {
  padding-left: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: auto;
  letter-spacing: 0%;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.about {
  width: 1052px;
  min-height: 595px;
  margin: 120px 24px 0;
}

.about__column {
  display: grid;
  grid-template-columns: 334px 1fr;
}

.about__logo {
  justify-self: center;
  margin-top: 35px;
}

.about__logo-background {
  display: flex;
  justify-content: center;
  align-items: center;
  width:240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
}

.about__logo-image {
  width: 148px;
  height:114px;
}

.about__second-column {
  margin-left: 25px;
}

.about__title {
  margin-top: 136px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 100px;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  min-height:180px;
  margin-top: 180px;
  padding-inline: 50px;
}

.footer__address {
  justify-self: start;
  width: 264px;
  
}

.footer__menu {
  justify-self: center;
  text-align: center;
}

.footer__menu-list-item {
  list-style: none;
}

.footer__menu-link {
  font-weight: 400;
  font-size: 18px;
  text-decoration: underline;
  text-decoration-thickness: 0.8px;
  text-underline-offset: 4px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  justify-content: space-between;
  width: 240px;
}

.footer__social-list-item {
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}